.researchContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100vw;
  padding: 17px;
}

.selectDate {
  font-size: 16px;
  color: #757575;
  width: 110px;
  height: 30px;
  margin-bottom: 20px;
}

.researchCompany {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

.researchTitle {
  font-size: 14px;
  font-family: "Roboto-Bold";
  width: 288px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.researchContext {
  font-size: 12px;
  font-family: "Roboto-regular";
}

.companyName {
  width: 70px;
  height: 70px;
  margin-left: -5px;
}

.companyName2 {
  font-size: 14px;
  width: 55px;
  height: 55px;
  font-family: "Roboto-Light";
  text-align: center;
  margin-left: -5px;
}

.reserachBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.originalText {
  width: 75px;
  height: 32px;
  background-color: #1573fe;
  color: white;
  font-size: 12px;
  font-family: "Roboto-Light";
  border: 0px;
}

.originalText2 {
  width: 75px;
  height: 32px;
  background-color: #f341f3;
  color: white;
  font-size: 12px;
  font-family: "Roboto-Light";
  border: 0px;
}

.researchModalCompany {
  text-align: end;
}

.researchModalBtn {
  width: 72px;
  height: 38px;
  border-radius: 16px;
  background-color: rgba(241, 0, 134, 0.1);
  font-size: 12px;
  font-weight: "Roboto-Light";
  border: none;
}

.researchModalBtnCenter {
  text-align: center;
}
