.researchContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100vw;
  padding: 17px;
}

.selectDate {
  font-size: 16px;
  color: #757575;
  width: 100px;
  height: 20px;
  margin-bottom: 20px;
}

.researchTitle {
  font-size: 14px;
  font-family: "Roboto-Bold";
  width: 288px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.researchContext {
  font-size: 12px;
  font-family: "Roboto-regular";
}

.companyName {
  width: 70px;
  height: 70px;
  margin-left: -5px;
}

.companyName2 {
  font-size: 14px;
  width: 55px;
  height: 55px;
  font-family: "Roboto-Light";
  text-align: center;
  margin-left: -5px;
}

.originalText {
  width: 75px;
  height: 32px;
  background-color: #1573fe;
  color: white;
  font-size: 12px;
  font-family: "Roboto-Light";
}
