

.textBox{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
   /* Adjust the path based on your project structure */
    background-size: cover; /* Optional: adjust the background size as needed */
    background-position: center; /* Optional: adjust the background position as needed */
    color: black;
    font-size: 30px
}

.cardImage {
    max-width: 100%; /* Set a maximum width */
    max-height: 200px; /* Set a maximum height */
    width: auto; /* Allow the image to adjust its width */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the entire image is visible */
  }


.cardTitle{
    margin-top: -27px;
    font-size: 26px;
    
}


@media (min-width: 768px) {
    .textBox{
        font-size: 60px;
      }

}