.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 모바일 화면 스타일 조정 */
@media only screen and (max-width: 600px) {
  .App {
    text-align: left; /* 텍스트 왼쪽 정렬로 변경 */
  }

  .App-logo {
    height: 20vmin; /* 로고 크기를 더 작게 조정 */
  }

  .App-header {
    font-size: calc(10px + 1vmin); /* 텍스트 크기를 줄임 */
  }
}

/* PWA 아이콘 관련 스타일 */
/* 아이콘 이미지에 마스크 적용 */
.App-logo-maskable {
  mask-image: url('../public/png512.png');
  -webkit-mask-image: url('../public/png512.png');
}